db {
  default.url = "jdbc:mysql://127.0.0.1:3306/qrsvc"
  default.username = root
  default.password = ""
  default.logSql = false
}

app {
    oauth2-base-url = "https://kkoauth2dev.mypointofpurchase.com/api/v3/oauth2"
    aes_password = ""
    aes_salt = ""
    max_persist_retry = 4
    client_id =
    client_secret =

    max_tx_history_result =
    card_device_activation_expire = 60

    #LoggingFilter
    #exclude extension - without .
    loggingfilter_ext = ["js", "ico", "html", "css"]
    loggingfilter_maxlength = 2048

    door_access_code_url = "https://mcdooraccessdev.mypointofpurchase.com/api/v3/card"
    evoucher_merchant_url = "https://evoucherdev.mypointofpurchase.com/api/v3/voucher/merchant_app_scan_code"
    evoucher_codes_validate_url = "https://evoucherdev.mypointofpurchase.com/api/v3/voucher/codes-validate"
    evoucher_codes_redeem_url = "https://evoucherdev.mypointofpurchase.com/api/v3/voucher/codes-redeem"

    inbound_auth {
      jwt_client_ids = ""
      jwt_client_secrets = ""
      jwt_client_names = ""
    }

    outbound_auth {
      jwt_client_id = ""
      jwt_client_secret = ""
      jwt_expire_after = ""
    }
}