db {
  default.url = "jdbc:mysql://127.0.0.1:3306/door_access"
  default.username = root
  default.password = ""
  default.logSql = false
}

app {
  oauth2-base-url = "https://kkoauth2dev.mypointofpurchase.com/api/v3/oauth2"
  aes_password = ""
  aes_salt = ""
  max_persist_retry = 4
  client_id =
  client_secret =

  max_tx_history_result =
  card_device_activation_expire = 60

  #LoggingFilter
  #exclude extension - without .
  loggingfilter_ext = ["js", "ico", "html", "css"]
  loggingfilter_maxlength = 2048
}

play.http.filters = com.am.common.utils.AMHttpFilters