#copy this file to same folder as .jar
LOG_DIR=./logs
LOGBACK_FILENAME=./logs/app.log
LOGBACK_PATTERN=./logs/app-%d{yyyy-MM-dd}.%i.log
MAX_FILE_SIZE=5MB
MAX_HISTORY=60
TOTAL_SIZE_CAP=2GB
INSTANCE=o1
root-level=info
logging-filter=trace
hibernate-boot-level=warn
hibernate-query-level=warn
hibernate-event-level=warn
hibernate-config-level=warn
hbm-level=trace
pool-management-level=off